version: '3.8'

services:
  # The Frontend (This Repo)
  web:
    build: .
    ports:
      - "80:80"
    environment:
      - API_URL=http://localhost:8080
    depends_on:
      - api

  # The Backend Service
  # Make sure snappwd-service repo is cloned and in the same directory of snappwd-web
  api:
    build: ../snappwd-service
    ports:
      - "8080:8080"
    environment:
      - REDIS_URL=redis://redis:6379
      - PORT=8080
    depends_on:
      - redis

  # Redis for storage
  redis:
    image: redis:alpine
    volumes:
      - redis_data:/data

volumes:
  redis_data:
